<div id="<%= dom_id servicio_realizado %>">
  <p>
    <strong>Item:</strong>
    <%= servicio_realizado.item_id %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= servicio_realizado.fecha %>
  </p>

  <p>
    <strong>Kmts:</strong>
    <%= servicio_realizado.kmts %>
  </p>

  <p>
    <strong>Fecha proximo:</strong>
    <%= servicio_realizado.fecha_proximo %>
  </p>

  <p>
    <strong>Kmts proximo:</strong>
    <%= servicio_realizado.kmts_proximo %>
  </p>

  <p>
    <strong>Observaciones:</strong>
    <%= servicio_realizado.observaciones %>
  </p>

</div>
