<div id="<%= dom_id vehiculo %>">
  <p>
    <strong>Codigo:</strong>
    <%= vehiculo.codigo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= vehiculo.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= vehiculo.modelo %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= vehiculo.matricula %>
  </p>

  <p>
    <strong>Movil:</strong>
    <%= vehiculo.movil %>
  </p>

   <p>
    <strong>Kmts.:</strong>
    <%= vehiculo.get_kmts_actuales %>
  </p>

</div>
