<div id="<%= dom_id adicional_vehiculo %>">
  <p>
    <strong>Fecha:</strong>
    <%= adicional_vehiculo.fecha %>
  </p>

  <p>
    <strong>Gastos:</strong>
    <%= adicional_vehiculo.gastos %>
  </p>

  <p>
    <strong>Ingresos:</strong>
    <%= adicional_vehiculo.ingresos %>
  </p>

  <p>
    <strong>Vehiculo:</strong>
    <%= adicional_vehiculo.vehiculo_id %>
  </p>

   <p>
    <strong>Concepto:</strong>
    <%= adicional_vehiculo.concepto %>
  </p>

</div>
