<div id="<%= dom_id adicional_chofer %>">
  <p>
    <strong>Fecha:</strong>
    <%= adicional_chofer.fecha %>
  </p>

  <p>
    <strong>Gastos:</strong>
    <%= adicional_chofer.gastos %>
  </p>

  <p>
    <strong>Ingresos:</strong>
    <%= adicional_chofer.ingresos %>
  </p>

   <p>
    <strong>Concepto:</strong>
    <%= adicional_chofer.concepto %>
  </p>

  <p>
    <strong>Chofer:</strong>
    <%= adicional_chofer.chofer_id %>
  </p>

</div>
