<%= form_with(model: adicional_chofer) do |form| %>
  <% if adicional_chofer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(adicional_chofer.errors.count, "error") %> prohibited this adicional_chofer from being saved:</h2>

      <ul>
        <% adicional_chofer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :chofer_id, style: "display: block" %>
    <%= form.collection_select :chofer_id, Chofer.order(:nombre),:id, :get_nombre_completo, include_blank: false %>
  </div> 

  <div>
    <%= form.label :fecha, style: "display: block" %>
    <%= form.date_field :fecha %>
  </div>

  <div>
    <%= form.label :gastos, style: "display: block" %>
    <%= form.text_field :gastos %>
  </div>

  <div>
    <%= form.label :ingresos, style: "display: block" %>
    <%= form.text_field :ingresos %>
  </div>

   <div>
    <%= form.label :concepto, style: "display: block" %>
    <%= form.text_field :concepto %>
  </div>

  <br>

  <div>
    <%= form.submit "Confirmar", class: 'btn btn-success' %>   
    <%= link_to "Cancelar", adicionales_choferes_path, class: "btn btn-danger"  %>
  </div>
<% end %>
