<div id="<%= dom_id chofer %>">
  <p>
    <strong>Codigo:</strong>
    <%= chofer.codigo %>
  </p>

   <p>
    <strong>Apellido:</strong>
    <%= chofer.apellido %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= chofer.nombre %>
  </p>

 
   <p>
    <strong>cedula:</strong>
    <%= chofer.cedula %>
  </p>

   <p>
    <strong>vencimiento_cedula:</strong>
    <%= chofer.vencimiento_cedula %>
  </p>

   <p>
    <strong>libreta_chofer:</strong>
    <%= chofer.libreta_chofer %>
  </p>

   <p>
    <strong>vencimiento_libreta_chofer</strong>
    <%= chofer.vencimiento_libreta_chofer%>
  </p>

 <p>
    <strong>carne_salud:</strong>
    <%= chofer.carne_salud %>
  </p>


 <p>
    <strong>vencimiento_carne_salud:</strong>
    <%= chofer.vencimiento_carne_salud %>
  </p>

 <p>
    <strong>fecha_nacimiento:</strong>
    <%= chofer.fecha_nacimiento %>
  </p>

   <p>
    <strong>domicilio:</strong>
    <%= chofer.domicilio %>
  </p>

   <p>
    <strong>telefonos:</strong>
    <%= chofer.telefonos %>
  </p>

   <p>
    <strong>whatsapp:</strong>
    <%= chofer.whatsapp %>
  </p>

   <p>
    <strong>email:</strong>
    <%= chofer.email %>
  </p>

   <p>
    <strong>mutualista:</strong>
    <%= chofer.mutualista %>
  </p>

   <p>
    <strong>emergencia:</strong>
    <%= chofer.emergencia %>
  </p>

   <p>
    <strong>contacto_tercero:</strong>
    <%= chofer.contacto_tercero %>
  </p>

   <p>
    <strong>banco:</strong>
    <%= chofer.banco %>
  </p>

   <p>
    <strong>sucursal_banco:</strong>
    <%= chofer.sucursal_banco %>
  </p>

   <p>
    <strong>cuenta_banco:</strong>
    <%= chofer.cuenta_banco %>
  </p>

   <p>
    <strong>observaciones:</strong>
    <%= chofer.observaciones %>
  </p>
</div>