<div class="pb-2 mt-4 mb-2 border-bottom">
  <div class="row">
    <div class="col-sm-6">
      <h3>Boletas de liquidaciones de viajes</h3>
    </div>
    <div class="col-sm-6">
      <div align="right">
        <%= link_to 'Crear Boleta', new_boleta_path, class: 'btn btn-primary' %>            
        <%= link_to 'Exportar listado', boletas_path(format: :xlsx), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<%= form_tag boletas_path, :method => 'get' do %>
  <div class="field">

  <%= label_tag :fecha_inicial %>
  <%= select_date @fecha_inicial, :prefix => :from %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <%= label_tag :fecha_final %>
  <%= select_date @fecha_final, :prefix => :to %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <%= label_tag :orden %>
  <%= select_tag "orden", options_for_select(["Fecha", "Id", "Recaudacion"], @orden) %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <%= submit_tag "Aplicar seleccion" %>
  </div>
<% end %>

<br />
<div class="table-responsive">
 <table class="table table-striped table-sm">
    <thead>
      <tr>       
        <th><div align="center">#</th>
        <th>Fecha</th>         
        <th>Empresa</th>         
        <th>Chofer</th>
        <th>Vehiculo</th>     
        <th>Turno</th>     
        <th>Recaudacion</th>    
        <th>Salario</th>         
        <th>Forma Pago</th>       
        <th>Combustible</th>
        <th>Aceite</th>     
        <th>Gomeria</th>     
        <th>Lavado</th>    
        <th>Otros</th>    
        <th>Aportes</th>   
      </tr>
    </thead>

    <tbody>
      <% @boletas.each do | boleta | %>
        <tr>                  
          <td><div align="center"><%= link_to boleta.id, boleta %> </div> </td>

          <td><%= boleta.fecha %></td>          
          <td><%= boleta.get_nombre_empresa %></td>       

          <td>
            <% if boleta.is_in_list(@duplicados) %>
              <div class="yellow"><%= boleta.get_chofer %></div>
            <% else %>
              <div class="white"><%= boleta.get_chofer %></div>
            <% end %> 
          </td>      

          <td><%= boleta.get_vehiculo %></td>     
          <td><%= boleta.turno %></td>      
          <td><%= boleta.total_recaudado %></td>    
          <td><%= boleta.get_salario %></td>    
          <td><%= boleta.get_forma_pago %></td>    
          <td><%= boleta.combustible %></td>    
          <td><%= boleta.aceite %></td>    
          <td><%= boleta.gomeria %></td>    
          <td><%= boleta.lavados %></td>    
          <td><%= boleta.otros %></td>           
          <td><%= number_with_precision(boleta.get_total_aportes,
            :precision => 0, :delimiter => ".", :separator => ",") %></td> 
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

  <% if @paginar %>
      <div align="center"><%= paginate @boletas, theme: 'bootstrap-5',  pagination_class: "flex-wrap justify-content-center" %></div>
  <% end %>


<style media="screen" type="text/css">
  .yellow { background-color: yellow; }
  .white { background-color: white; }
</style>
